
@{
    ViewBag.Title = "RequestQuote";
    Layout = "~/Views/Shared/_CustLayout.cshtml";
}

<h3>This feature is not implemented yet, but here's a mockup:</h3>
<br /><br /><br />
            <img src="~/Content/Pictures/Form.PNG" style="justify-content:center; border:solid 2px; border-radius:15px;"/>

