
@{
    ViewBag.Title = "ChooseCatalog";
    Layout = "~/Views/Shared/_SeattleEmpLayout.cshtml";
}

<h2>Choose Catalog</h2>

@Html.ActionLink("Pharmacology Catalog", "PharmaCatalog")
<br />
<hr />
@Html.ActionLink("Protocol Notebook", "ProtoNotebook")