
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SeattleEmpLayout.cshtml";
}


@{
    ViewBag.Title = "Northwest Labs";
}

<div class="bgImage">
    <div class="name"><strong>Northwest Labs</strong></div>
</div><br /><br />
<h2 class="headers">About Northwest Labs</h2><br /><br />
<div class="aboutPage">
    Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis.<br /><br />
    Our company markets to many different chemical and pharmaceutical companies around the globe needing analysis work done on any number of different compounds and drugs.

</div>
<br /><br /><br /><br />
<h2 class="headers">Office Locations</h2>
<div class="row">
    <div class="column">
        <img src="~/Content/Pictures/Singapore.jpg" style="display:block; width:100%; height:auto;" />
        <div class="overlay">
            <div class="text">Singapore <br /><br /> Labs and Testing</div>
        </div>
    </div>
    <div class="column">
        <img src="~/Content/Pictures/Seattle.jpg" style="display:block; width:100%; height:auto;" />
        <div class="overlay">
            <div class="text">Seattle <br /><br /> Corporate Office Headquarters</div>

        </div>

    </div>

</div>
<br /><br /><br /><br />
<h2 class="headers">Contact Us!</h2>
<div class="aboutPage">For more information about how we can help you get a deeper assay analysis, reach out and we will give you the help you need. <br /><br /> (206) 448-8762<br />support@northwestlabs.com</div>


