
@{
    ViewBag.Title = "SeePrice";
    Layout = "~/Views/Shared/_SeattleEmpLayout.cshtml";
}

<h2>Price Breakdown</h2>

<ul>
    @foreach (var entry in ViewBag.entries)
    {
    <li>LT @entry.LT_Number : $@entry.Item_Price</li>
    }
</ul>