
@{
    ViewBag.Title = "Catalog";
}

<h2 class="headers">Current Assays</h2>

<table class="catalog" style="width:100%">
    <tr class="catalogTR">
        <th class="catalogTH">Test</th>
        <th class="catalogTH">Details</th>

    </tr>
    <tr class="catalogTR">
        <td class="catalogTD">Biochemical Pharmacology</td>
        <td class="catalogTD">
            Biochemical pharmacology is concerned with the effects of drugs on biochemical pathways underlying the
            pharmacokinetic and pharmacodynamic processes and the subsequent therapeutic and the toxicological processes.
        </td>

    </tr>
    <tr class="catalogTR">
        <td class="catalogTD">Custom Screen</td>
        <td class="catalogTD">Specify what you wish to accomplish in each test</td>

    </tr>
    <tr class="catalogTR">
        <td class="catalogTD">Discovery Screen</td>
        <td class="catalogTD">Discover a complete solution for automated screening 
        and selection of high-value clones. Fully automated workflow
        from cloning to antibody productivity.</td>

    </tr>
    <tr class="catalogTR">
        <td class="catalogTD">Immuno System</td>
        <td class="catalogTD">Immunoscreening is a method of biotechnology to detect a 
        polypeptide produced from a cloned gene. Clones are screened 
        for the presence of the gene product (a protein). This strategy 
        requires first that a gene library is implemented in an expression 
        vector, and that antiserum to the protein is available.</td>

    </tr>
</table>