
@{
    ViewBag.Title = "Catalog";
}

<h2 class="headers">Current Assays</h2>

<table style="width:100%">
    <tr>
        <th>Test</th>
        <th>Details</th>

    </tr>
    <tr>
        <td>Biochemical Pharmacology</td>
        <td>
            Biochemical pharmacology is concerned with the effects of drugs on biochemical pathways underlying the
            pharmacokinetic and pharmacodynamic processes and the subsequent therapeutic and the toxicological processes.
        </td>

    </tr>
    <tr>
        <td>Custom Screen</td>
        <td>Specify what you wish to accomplish in each test</td>

    </tr>
    <tr>
        <td>Discovery Screen</td>
        <td>Discover a complete solution for automated screening 
        and selection of high-value clones. Fully automated workflow
        from cloning to antibody productivity.</td>

    </tr>
    <tr>
        <td>Immuno System</td>
        <td>Immunoscreening is a method of biotechnology to detect a 
        polypeptide produced from a cloned gene. Clones are screened 
        for the presence of the gene product (a protein). This strategy 
        requires first that a gene library is implemented in an expression 
        vector, and that antiserum to the protein is available.</td>

    </tr>
</table>