
@{
    ViewBag.Title = "Northwest Labs";
}
@*
    <div class="bgImage">

    </div>
*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container-fluid no-padding">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/Pictures/louis-reed-pwcKF7L4-no-unsplash.jpg" alt="" class="img-responsive" />
        </div>
    </div>
</div>