
@{
    ViewBag.Title = "Northwest Labs";
}
<div class="bg">
    <img src="~/Content/Pictures/louis-reed-pwcKF7L4-no-unsplash.jpg" style="width: 1573px; height: 500px; opacity: 0.5;" />
    <div class="centered">Northwest Labzzz</div>
</div>

