@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <label for="inputEmail">Email address</label>
    @Html.TextBox("Email address")
    <label for="inputPassword">Password</label>
    @Html.Password("Password")
    <button type="submit">Login</button>

    @ViewBag.PasswordMessage;


    <p>&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://qrcode.replenishbot.com/?value=https://zfrmz.com/eP8F10WMKai6yNznMuDv?refferer_name=room111" alt="" width="301" height="301" /></p>
}