/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


input,
select,
textarea {
    max-width: 280px;
}*/

.nav-item {
    font-size: 18px;
}
.navbar-brand {
    font-size: 30px;
}
body {

}

.myBody {
    background-color: #EAEAEA;
}
body, html{
    height: 100%;
}
.bgImage {
    
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}