/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


input,
select,
textarea {
    max-width: 280px;
}*/

.nav-item {
    font-size: 18px;
}
.navbar-brand {
    font-size: 30px;
}
body {

}

.myBody {
    background-color: #EAEAEA;
}
body, html{
    height: 100%;
   
}
.bgImage {
    background-image: url('Pictures/louis-reed-pwcKF7L4-no-unsplash.jpg');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 400px;
    opacity: 0.5;
    height: 400px;
    width: 100%
  
}


.no-padding {
    padding-left: 0;
    padding-right: 0;
    height: 200px;
    width: 100%
}